# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
*.swp

# Logs
*.log

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
crash.log

# Python
__pycache__/
*.pyc
*.pyo
*.zip
venv/
.env

# Sensitive
*.key
*.pem
secrets.txt